<section class="bottom-bar">
  <div class="container px-4 px-lg-5">
    <div class="row g-3 align-items-center">
      <div class="col-md-6">
        <div class="bottom-bar__title">YtseJammer</div>
        <div class="bottom-bar__text">Quick links & notes.</div>
      </div>

      <div class="col-md-6">
        <div class="bottom-bar__links">
          <a href="nascar36.html">NASCAR 36</a>
          <a href="nascar-winners.html">NASCAR Results</a>
          <a href="pga-winners.html">PGA Results</a>
          <a href="library.html">Library</a>
          <a href="video-games.html">Video Games</a>
          <a href="vinyl.html">Vinyl</a>
        </div>
      </div>
    </div>
  </div>
</section>
