<footer class="bottom-bar">
  <div class="bottom-bar-inner">
    <div class="bottom-col">
      <h6>Sports</h6>
      <a href="nascar-winners.html">NASCAR</a>
      <a href="pga-winners.html">PGA</a>
    </div>

    <div class="bottom-col">
      <h6>Collections</h6>
      <a href="library.html">Library</a>
      <a href="video-games.html">Video Games</a>
      <a href="vinyl.html">Vinyl</a>
    </div>

    <div class="bottom-col">
      <h6>Admin</h6>
      <a href="admin.html">Dashboard</a>
    </div>
  
    <div class="bottom-col">
      <h6>My other sites</h6>
      <a href="https://bocce.onrender.com/standings?team_id=1">Bocce League</a>
      <a href="https://nyt-games-tracker.onrender.com/?game=all">NYT Games Tracker</a>
    </div>
  </div>
</footer>
