<footer class="bottom-bar">
  <div class="bottom-bar-inner">
    <div class="bottom-col">
      <h6>Sports</h6>
      <a href="nascar-winners.html">NASCAR</a>
      <a href="pga-winners.html">PGA</a>
    </div>

    <div class="bottom-col">
      <h6>Collections</h6>
      <a href="library.html">Library</a>
      <a href="video-games.html">Video Games</a>
      <a href="vinyl.html">Vinyl</a>
    </div>

    <div class="bottom-col">
      <h6>Admin</h6>
      <a href="admin.html">Dashboard</a>
    </div>
  </div>
</footer>
