<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="index.html">YtseJammer</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      Menu <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
      <ul class="navbar-nav gap-lg-3 text-center">
        <li class="nav-item"><a class="nav-link" href="nascar36.html">NASCAR 36&nbsp;for&nbsp;36</a></li>
        <li class="nav-item"><a class="nav-link" href="nascar-winners.html">NASCAR&nbsp;Results</a></li>
        <li class="nav-item"><a class="nav-link" href="pga-winners.html">PGA&nbsp;Results</a></li>
        <li class="nav-item"><a class="nav-link" href="library.html">Library</a></li>
        <li class="nav-item"><a class="nav-link" href="video-games.html">Video&nbsp;Games</a></li>
        <li class="nav-item"><a class="nav-link" href="vinyl.html">Vinyl</a></li>
        <li class="nav-item"><a class="nav-link" href="admin.html">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>
