/* General Styling */
body {
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20px;
}

h2 {
  margin-bottom: 20px;
}

/* Table styling */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#pgapictureofficialtable td {
  text-align: center;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

.table th {
  color: #fff;
}



/* Picture styling */
.table img {
  width: 100px; /* Set a fixed width for all images */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center images horizontally */
}

/* Navbar background color */
.navbar.bg-body-tertiary {
  background-color: #333;
}

/* Navbar brand text color */
.navbar-brand {
  color: mediumseagreen;
}

.navbar-brand .nav-link:hover{
  color: mediumspringgreen;
}

/* Navbar links color */
.navbar-nav .nav-link {
  color: mediumseagreen;
}

/* Navbar links hover color */
.navbar-nav .nav-link:hover {
  color: mediumspringgreen;
}



