:root {
  --page-background-color: #333; /* Adjust as needed */
  --navbar-background-color: #333; /* Adjust as needed */
}

/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: var(--page-background-color); /* Use variable */
}

.container {
  margin-top: 20px;
  background-color: #333;
}

h2 {
  margin-bottom: 20px;
}

/* Table styling */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #333;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  background-color: #333;
}

.table th {
  background-color: var(--page-background-color); /* Use variable */
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2; /* Alternate row color */
}

/* Picture styling */
.table img {
  width: 100px; /* Set a fixed width for all images */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center images horizontally */
}

/* Navbar styles */
.navbar {
  background-color: var(--navbar-background-color); /* Use variable */
}

.navbar-brand {
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  color: #333; /* Change the text color as needed */
}

.navbar-nav .nav-item {
  margin-right: 15px; /* Adjust margin between nav items as needed */
}

.nav-link {
  color: #555; /* Change the text color as needed */
}

.nav-link:hover {
  color: #000; /* Change the text color on hover as needed */
}

/* Navbar toggler styles */
.navbar-toggler {
  border-color: transparent; /* Hide the border */
}

.navbar-toggler-icon {
  background-color: #333; /* Change the color of the toggler icon */
}

/* Active nav link styles */
.nav-link.active {
  font-weight: bold; /* Adjust font weight as needed */
}
